.navContainer {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 1rem 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
  }
  
.navList {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
  
.navItem {
	margin-left: 20px;
	padding: 10px 0;
	position: relative;
}
  
.navLink {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	position: relative;
	transition: color 0.3s ease;
}
  
.navLink:hover, .navLink:focus {
	color: #787878;
}
  
.navLink::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #000000;
	transition: width 0.3s ease;
}
  
.navLink:hover::after, .navLink:focus::after {
	width: 100%;
}