.container {
  text-align: center;
}

.introduction {
  background-color: #f3f3f3;
  padding: 2rem;
}

.about,
.projects,
.skills {
  padding: 2rem;
  margin-top: 1rem;
}

.h1 {
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.h2 {
  color: #34495e;
}

.p {
  color: #7f8c8d;
}

.projectCard {
  border: 1px solid #bdc3c7;
  padding: 1rem;
  margin-top: 1rem;
}

.skillsList {
  list-style-type: none;
  padding: 0;
}

.skillsList li {
  display: inline-block;
  margin-right: 10px;
  background-color: #ecf0f1;
  padding: 5px 10px;
  border-radius: 5px;
}

.projLink {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  display: inline-block; /* Make the link a block-level element */
  background-color: #f0f0f0; /* Give it a background color */
  padding: 10px 15px; /* Add some padding */
  border-radius: 5px; /* Optional: rounds the corners */
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Initial subtle shadow */
  margin-top: 2px; /* Adjust for the initial position to allow sinking */
}

.projLink:hover, .projLink:focus {
  background-color: #e0e0e0; /* Slightly change background color on hover/focus for feedback */
  color: #333; /* Darken text color slightly */
  transform: translateY(-5px); /* Move the link up */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3); /* Make the shadow more pronounced */
}

/* Add this for the sinking effect on click */
.projLink:active {
  transform: translateY(1px); /* Slightly move the link down */
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2); /* Lessen the shadow to simulate sinking */
}

/* Adjust your .projectCard to ensure it has spacing for the shadow */
.projectCard {
  margin: 20px 0; /* Ensure there's space around the card for the shadow */
  transition: transform 0.3s ease; /* Smooth transition for any transformations */
}